
@{
    ViewBag.Title = "MyProjects";
}

<h2>MyProjects</h2>

<ul>
    <li>
        <h3>Advanced Traffic Management System</h3>
        <h4>C#, MySQL</h4>
    </li>
    <li>
        <h3>Cyber Space</h3>
        <h4>C++, OpenGL</h4>
    </li>

    <li>
        <h3>Rent Management System</h3>
        <h4>JAVA</h4>
    </li>

</ul>

