@model List<ProductCart.Models.Database.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered">
    <tr>
        <th>Id </th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Action</th>
    </tr>

    @foreach(var p in Model)
    {
<tr>
    <td>@p.Id</td>
    <td>@p.Name</td>
    <td>@p.Quantity</td>
    <td>@p.Price</td>
    <td><a class="btn btn-success" href="Product/Cart/@p.Id">Add to Cart</a></td>
</tr>
    }
</table>

